{% extends 'base.html.twig' %}

{% block body %}

    <div id="main">
                <div className="page-heading pb-2 mt-4 mb-2 ">
                    <h3>Manager Order</h3> <a href="insert.php"><button type="button" class="btn btn-outline-primary">Insert</button></a>
                </div>
                <div class="page-content">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
               
                </div>
                <div class="container mb-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">ID</th>
                            <th scope="col">OrderDate</th>
                            <th scope="col">DeliveryDate</th>
                            <th scope="col">Address</th>
                            <th scope="col">Payment</th>
                            <th scope="col">Status</th>
                            <th scope="col">CustomerName</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for o in order %}
                                <tr>
                                    <td>{{o.id}}</td>
                                    <td>{{o.Orderdate}}</td>
                                    <td>{{o.Deliverydate}}</td>
                                    <td>{{o.Address}}</td>
                                    <td>{{o.Payment}}</td>
                                    <td>{{o.Status}}</td>
                                    <td>{{o.CustomerName}}</td>          
                                    <td>
                                        <a href="update.php?id=<?=$row['Product_ID']?>" class="btn rounded-pill text-light" style="background-color: rgba(26,148,255,255);"> Update </a>
                                    </td>
                                </tr>     
                                {% endfor %}                        
                        </tbody>
                    </table>
             </div>
            </div>
    </div>
{% endblock %}
